@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  margin: 0;
  display: flex; /* lays out nav and body next to each other */
  min-height: 100vh;
}

h1 {
  font-size: 26px;
  font-weight: 500;
}

nav {
  width: 250px; /* must have fixed width for sticky to work */
  height: 100vh;
  position: sticky; /* sticks to page */
  top: 0; /* causes nav to remain in view while scrolling */
  padding: 2rem;
  background-color: aquamarine;
}

nav ul {
  list-style: none;
  padding: 10px;
  overflow: scroll;
  border: 2px solid red;
}

nav li {
  margin: 18px 0;
}

nav a {
  color: #4d4e53;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 2rem;
}

header {
  font-size: 28px;
  font-weight: 500;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 3px solid #4d4e53;
  border-radius: 10px;
}
